USE [master]
GO
/****** Object:  Database [Wheel]    Script Date: 26.05.2021 23:46:45 ******/
CREATE DATABASE [Wheel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Wheel', FILENAME = N'C:\Users\Nazım\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Wheel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Wheel_log', FILENAME = N'C:\Users\Nazım\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Wheel.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Wheel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Wheel]
GO
USE [Wheel]
GO
/****** Object:  Table [dbo].[Codes]    Script Date: 26.05.2021 23:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Codes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GiftId] [int] NULL,
	[UserId] [int] NULL,
	[CodeName] [varchar](10) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gifts]    Script Date: 26.05.2021 23:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gifts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[Rate] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationClaims]    Script Date: 26.05.2021 23:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserOperationClaims]    Script Date: 26.05.2021 23:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOperationClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OperationClaimId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.05.2021 23:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PasswordHash] [varbinary](500) NOT NULL,
	[PasswordSalt] [varbinary](500) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wheels]    Script Date: 26.05.2021 23:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wheels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GiftId] [int] NULL,
	[CodeId] [int] NULL,
	[Date] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Codes] ON 

INSERT [dbo].[Codes] ([Id], [GiftId], [UserId], [CodeName], [Status]) VALUES (3, 1, 1, N'123456', 0)
SET IDENTITY_INSERT [dbo].[Codes] OFF
GO
SET IDENTITY_INSERT [dbo].[Gifts] ON 

INSERT [dbo].[Gifts] ([Id], [Name], [Color], [Rate], [Status]) VALUES (1, N'Starbucks', N'#1ab45', 10, 1)
INSERT [dbo].[Gifts] ([Id], [Name], [Color], [Rate], [Status]) VALUES (2, N'Burgerking', N'#fefefe', 15, 1)
INSERT [dbo].[Gifts] ([Id], [Name], [Color], [Rate], [Status]) VALUES (3, N'Kitap', N'#15a5d', 25, 0)
SET IDENTITY_INSERT [dbo].[Gifts] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [Email], [PasswordHash], [PasswordSalt], [Status]) VALUES (1, N'emre', N'marul', N'birisi@hotmail.com', 0x76CDEAF06D885E61AD73734AF9EB139813759424EA953998262A33D8628F1EA7A9E04C0C2459674DE6F6A0861E81BB8312484D4F3232A0D749052F20AA5C0223, 0xE94AFAFEAF5D73033ABD6062EEE0AC49021468FDC186B697AB59CD0811ADAEA5DB93A2B4AFF7FE6CA9D866417077703346D814FE66F92DB4F12503D295B044A065A3F36A8F27968DD2F371BD2B012D517AB10EA2A2E2EE60B7E1C3F75AA156EB93401FAF4CB2CD17697B5D20E6B5E4D3EDA0DAA1902BFA66DBFA2B9AC2837A73, 1)
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [Email], [PasswordHash], [PasswordSalt], [Status]) VALUES (2, N'yuksel', N'marul', N'aa@hotmail.com', 0x5DAC61418A6BE5651936D6858DB5A8782F86F4D512D3BE6E9E5EE549A9F96961CF3021695C44AF1BC7BF4D43A00C74C32100C67FB65F70CE05DE8F3E73F95BF5, 0xB82B28B7D1D55940D5F9BE9006F0BCC2551450F7D766D9E26527A95DA23481BA0CD0AB49224C918C6F440387E0C29A3D231C064EC9A8B497FDE07BBC8A660EA0495F6B8B2260651C826FCEC0F61300DCC71DE6B6C90E565BBD16654EF08834CBF676AD1E5540CB9D902DAAA2BD77830AEA8391370E9487F1A22CC43253960DC5, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Wheels] ON 

INSERT [dbo].[Wheels] ([Id], [GiftId], [CodeId], [Date]) VALUES (1, 1, 1, CAST(N'2021-05-26T17:43:00' AS SmallDateTime))
INSERT [dbo].[Wheels] ([Id], [GiftId], [CodeId], [Date]) VALUES (4, 2, 3, CAST(N'2021-05-26T20:37:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Wheels] OFF
GO
ALTER TABLE [dbo].[Codes]  WITH CHECK ADD FOREIGN KEY([GiftId])
REFERENCES [dbo].[Gifts] ([Id])
GO
ALTER TABLE [dbo].[Codes]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserOperationClaims]  WITH CHECK ADD FOREIGN KEY([OperationClaimId])
REFERENCES [dbo].[OperationClaims] ([Id])
GO
ALTER TABLE [dbo].[UserOperationClaims]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Wheels]  WITH NOCHECK ADD FOREIGN KEY([CodeId])
REFERENCES [dbo].[Codes] ([Id])
GO
ALTER TABLE [dbo].[Wheels]  WITH CHECK ADD FOREIGN KEY([GiftId])
REFERENCES [dbo].[Gifts] ([Id])
GO
USE [master]
GO
